body {
    margin: 0;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 400px;
}

button {
    margin-bottom: 4px;
    padding: 10px 20px; 
    background-color: rgb(175, 255, 47);
    color: black;
    font-weight: bold;
    border: 1px solid green;
}

#delete-btn {
    background: white;
    color: black;
}

#delete-btn:hover {
    background: black;
    color: rgb(175, 255, 47);
}

input {
    width: 100%; 
    padding: 10px;    
    box-sizing: border-box; /* 100% considers padding as well */
    border: 1px solid black;
    margin-bottom: 5px;
}

#div {
    background-color: cadetblue;
    height: 100px;
}

ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

a {
    color: green;
}

